* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  color: black;
  display: block;
  background-color: rgb(230, 239, 241);
}
.project-about {
  width: 1320px;
  margin: 0px auto;
  height: 1602.59px;
  position: relative;
  background-color: #fbf8f8;
}
.heading {
  width: 1320px;
  height: 397px;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  background: rgba(15, 23, 43, 0.9);
  z-index: 0;
}
.img {
  display: block;
  z-index: 0;
}
.select {
  width: 1320px;
  height: 62.5px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: rgba(15, 23, 43, 0);
}
.transparent {
  background: rgba(15, 23, 43, 1);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease;
}
.restoren {
  position: absolute;
  width: 219.11px;
  height: 48px;
  top: 7.25px;
  left: 48px;
  background-image: url(/img/restoren.png);
}
.home {
  width: 44px;
  height: 22px;
  top: 20px;
  left: 579px;
  position: absolute;
}
.about {
  width: 50px;
  height: 22px;
  top: 20px;
  left: 655px;
  position: absolute;
}
.service {
  width: 62px;
  height: 22px;
  top: 20px;
  left: 737px;
  position: absolute;
}
.menu {
  width: 45px;
  height: 22px;
  top: 20px;
  left: 831px;
  position: absolute;
}
.page {
  width: 48px;
  height: 22px;
  top: 20px;
  left: 915px;
  position: absolute;
}

.page::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  top: 45%;
  right: -10px;
  transform: translateX(-50%);
}

.page:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  min-width: 180px;
  position: absolute;
  left: -40px; /* Điều chỉnh vị trí theo mong muốn */
  top: 200%;
  background-color: #fff;
  display: none;
}
.dropdown-menu::before {
  position: absolute;
  width: 100%;
  top: -28px;
  height: 40px;
  content: "";
  display: block;
}

.dropdown-item {
  color: black;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0px 15px 20px;
}
.dropdown-item:hover {
  background-color: rgb(229, 227, 227);
}
.contact {
  width: 74px;
  height: 22px;
  top: 20px;
  left: 995px;
  position: absolute;
}
a {
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f1f8ff;
  text-transform: uppercase;
  text-decoration: none;
}
.contact a {
  color: #fea116;
}
a:hover {
  color: #fea116;
}
.oder {
  width: 163.25px;
  height: 42px;
  top: 10.25px;
  left: 1108.75px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  border: 1px solid #fea116;
  border-radius: 2px;
  background: #fea116;
  position: absolute;
}
.oder:hover {
  background-color: #f4ac41;
  cursor: pointer;
}
.heading-title {
  width: 1296px;
  height: 204.8px;
  top: 130px;
  font-family: "Nunito", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  color: #fff;
  z-index: 2;
  text-align: center;
  animation: slideDown 1s ease-in-out forwards;
  opacity: 0;
}
@keyframes slideDown {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.heading-title1 {
  z-index: 1;
  margin-top: 1rem;
  width: 1296px;
  height: 204.8px;
  font-family: "Heebo", sans-serif;
  color: #fff;
  text-align: center;
  margin-top: -170px;
  position: absolute;
}
span {
  color: #fff;
}

.contact-us {
  width: 1296px;
  height: 596px;
  top: 492.8px;
  left: 12px;
  position: absolute;
}
.contact-us-text {
  width: 200px;
  height: 24.5px;
  top: -0.5px;
  left: 530.78px;
  background-image: url(/img/contactus.png);
  background-repeat: no-repeat;
  position: absolute;
}
.contact-us-title {
  width: 434.62px;
  height: 48px;
  top: 32px;
  left: 430.88px;
  position: absolute;
  font-family: Nunito;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
}
.contact-us-booking {
  width: 431.98px;
  height: 72px;
  top: 128px;
  position: absolute;
}
.booking-img {
  width: 120px;
  height: 24.5px;
  top: -0.5px;
  left: 12px;
  position: absolute;
  background-image: url(/img/booking.png);
  background-repeat: no-repeat;
}
.booking-mail {
  width: 134.57px;
  height: 30px;
  top: 32px;
  left: 36px;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  position: absolute;
}

.contact-us-general {
  width: 431.98px;
  height: 72px;
  top: 128px;
  left: 431.98px;
  position: absolute;
}
.general-img {
  width: 120.73px;
  height: 30px;
  top: -0.5px;
  left: 12px;
  background-image: url(/img/general.png);
  background-repeat: no-repeat;
}
.general-mail {
  width: 120.57px;
  height: 24px;
  top: 32px;
  left: 36px;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  position: absolute;
}
.contact-us-technical {
  width: 431.98px;
  height: 72px;
  top: 128px;
  left: 863.97px;
  position: absolute;
}
.technical-img {
  width: 120px;
  height: 30px;
  top: -0.5px;
  left: 12px;
  position: absolute;

  background-image: url(/img/technical.png);
  background-repeat: no-repeat;
}
.technical-mail {
  width: 134.57px;
  height: 24px;
  top: 32px;
  left: 36px;
  position: absolute;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.mail::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("/img/thu.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: -20px;
}
.google-map {
  width: 624px;
  height: 372px;
  top: 224px;
  left: 12px;
  position: absolute;
}
.google-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.infor {
  width: 640px;
  height: 372px;
  top: 224px;
  left: 652px;
  position: absolute;
}
input {
  width: 302px;
  height: 56px;
  margin: 8px 5px;
  padding: 16px 12px 16px 12px;
  gap: 0px;
  border-radius: 2px;
  color: #ffffff;
  opacity: 0px;
  border: 1px solid #ced4da;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
#subject {
  width: 622px;
}
#message {
  width: 622px;
  height: 148px;
  text-align: left;
}
.submit {
  width: 624px;
  height: 58px;
  gap: 0px;
  border-radius: 2px;
  line-height: 58px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  background: #fea116;
  border: 1px solid #fea116;
}
.submit:hover {
  cursor: pointer;
  background-color: #f4ac41;
}
.footer {
  width: 1320px;
  height: 417.8px;
  top: 1184.8px;

  padding-bottom: 0;
  background: #0f172b;
  position: absolute;
}
.footer-nhahang {
  width: 330px;
  height: 200.3px;
  top: 96px;
  background-image: url(/img/nhahang.png);
  position: absolute;
}
.footer-lienhe {
  width: 330px;
  height: 200.3px;
  top: 96px;
  left: 330px;
  background-image: url(/img/lienhe.png);
  position: absolute;
}
.footer-thoigian {
  width: 330px;
  height: 200.3px;
  top: 96px;
  left: 660px;
  background-image: url(/img/thoigian.png);
  position: absolute;
}
.footer-thongtin {
  width: 330px;
  height: 200.3px;
  top: 96px;
  left: 990px;
  position: absolute;
}
.footer-thongtin-title {
  width: 150.67px;
  height: 29.2px;
  top: -0.4px;
  left: 24px;
  background-image: url(/img/thongtintxt.png);
  position: absolute;
}
.footer-thongtin-text {
  left: 24px;
  top: 52.79px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #f1f8ff;

  position: absolute;
}
.input-thongtin {
  position: absolute;
  width: 282px;
  height: 58px;
  top: 116.79px;
  left: 24px;
}
.dangki {
  font-size: 15px;
  color: #fff;
  width: 87.34px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  top: 132.79px;
  left: 200.66px;
  border-radius: 2px;
  background: #fea116;
  border: 1px solid #fea116;
  position: absolute;
}
.dangki:hover {
  background-color: #f4ac41;
  cursor: pointer;
}
.footer-copyright {
  width: 1272px;
  height: 73.5px;
  top: 344.29px;
  left: 24px;
  padding: 25.75px 0px 25.25px 1008.05px;
  border-top: 1px solid #ffffff1a;
  position: absolute;
}
.footer-copyright-home {
  width: 56.38px;
  height: 22px;
  top: 26px;
  left: 1008.05px;
  padding: 0px 15.68px 0px 0px;
  border-right: 1px solid #ffffff1a;
  font-family: Heebo;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;

  position: absolute;
  color: #fff;
}
.footer-copyright-cookie {
  width: 69.86px;
  height: 22px;
  top: 26px;
  left: 1083.16px;
  padding: 0px 15.63px 0px 0px;
  position: absolute;
  border-right: 1px solid #ffffff1a;
  font-family: Heebo;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #fff;
}
.footer-copyright-help {
  width: 46.73px;
  height: 22px;
  top: 26px;
  left: 1171.75px;
  padding: 0px 15.61px 0px 0px;
  border-right: 1px solid #ffffff1a;
  font-family: Heebo;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #fff;
  position: absolute;
}
.footer-copyright-faqs {
  width: 35.09px;
  height: 22.5px;
  top: 25.75px;
  left: 1237.22px;
  font-family: Heebo;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  position: absolute;
  color: #fff;
}
.roll{
  width: 48px;
  height: 48px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border-radius: 2px;
  position: fixed;
  right: 140px;
  bottom: 45px;
  z-index: 99;
  background-color: #FEA116;
  border: 1px solid #FEA116;

}
.roll:hover{
  cursor: pointer;
  background-color: #eeba41;
}